.text-center {

    padding: 20px;
    margin-right: 10px;
    flex: 1;
    text-align: center;
    height: 350px;
    width: 300px;
    box-sizing: border-box;
  }
  .ziko-1 {
    border: 1px solid rgb(250, 250, 250);
    padding: 20px;
    margin-right: 50px;
    flex: 1;
    text-align: left;
    height: 150px;
    width: 300px;
    box-sizing: border-box;
  }
  .ziko-2 {
    border: 1px solid rgb(5, 5, 5);
    padding: 20px;
    margin-right: 50px;
    flex: 1;
    text-align: left;
    height: 30px;
    width: 150px;
    box-sizing: border-box;
  }
  @media only screen and (max-width: 600px) {
    .text-center {
      margin-right: 10px;
      height: 250px;
      width: 200px;
    }
  }